body {
    margin: 0;
    padding: 0;
    background-color: #f2f5fa;
    font-family: "Microsoft YaHei";
}

ul, li {
    margin: 0;
    padding: 0;
}

.top-nav { /*顶部导航*/
    width: 100%;
    height: 40px;
    margin-left: -10px;
    background-color: #ffffff;
}

.nav {
    width: 100%;
    background-color: #ffffff;
}
.nav-pills {
    width: 100%;
}

.container { /*中间内容*/
    width: 80%;
    height: 600px;
    margin: 30px auto;
}

.left { /*左侧部分*/
    position: absolute;
    left: 10%;
    width: 15%;
}

.personal { /*个人中心*/
    width: 100%;
    height: 220px;
    padding: 10px;
    background-color: #f7fbfe;
    font-family: "Microsoft YaHei";
    border-bottom: 1px dashed #cccccc;
}

.personal .title {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 5px 0 0 10px;
}
.personal .head-photo{
    width:100%;
}

.personal .head-photo img { /*头像*/
    width: 40%;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #cccccc;
    margin: 10px 0 0 10px;
}

.personal .head-photo span {
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
    width:60%;
}

.personal .credits {
    font-size: 13px;
    font-weight: 500;
    margin: 15px 0 0 10px;
}

.nav-stacked {
    background-color: #f7fbfe;
    color: #333333;
}

.left-nav .nav-stacked li:hover {
    background-color: #ffffff;
}

.left-nav .nav-stacked li {
    background-color: #f7fbfe;
}

.left-nav .nav-stacked li:hover {
    background-color: #ffffff;
}

.left-nav .nav-stacked li a {
    color: #555;
    font-size: 15px;
}
.left-nav .nav-stacked li a:hover {
    background-color: #ffffff;
}

.right { /*右侧内容显示区*/
    position: absolute;
    left: 25%;
    width: 65%;
    height: 100%;
    background-color: #f7fbfe;
}

.right .tab-menu { /*选择的菜单*/
    font-weight: 600;
    font-size: 17px;
    color: #555;
    font-family: "Microsoft JhengHei Light";
    background-color: #ffffff;
    padding: 20px 0 0 25px;

}

.personal-info { /*个人信息，姓名，学号，，，*/
    width: 100%;
    height: 500px;
    padding: 50px 0 0 25px;
    background-color: #ffffff;
    font-size: 17px;
    font-family: "Microsoft JhengHei Light";
}
.personal-info label{
    color: #2e6da4;
    font-size: 16px;
}

.stuid {
    position: absolute;
    width: 210px;
    height: 30px;
    border-left: 1px solid #cccccc;
    padding: 5px 0 0 8px;
}

.stuname {
    position: absolute;
    width: 210px;
    left: 35%;
    height: 30px;
    border-left: 1px solid #cccccc;
    padding: 5px 0 0 8px;
}
.personal-info .photo img{
    position: absolute;
    width: 150px;
    left: 70%;
    height: 150px;
    border-left: 1px solid #cccccc;
}

.gender {
    position: absolute;
    width: 210px;
    top: 200px;
    height: 30px;
    border-left: 1px solid #cccccc;
    padding: 5px 0 0 8px;
}
.phonenum {
    position: absolute;
    width: 210px;
    top: 200px;
    left: 35%;
    height: 30px;
    border-left: 1px solid #cccccc;
    padding: 5px 0 0 8px;
}

.email {
    position: absolute;
    width: 210px;
    top: 300px;
    height: 30px;
    border-left: 1px solid #cccccc;
    padding: 5px 0 0 8px;
}
.isstudent{
    position: absolute;
    width: 210px;
    top: 300px;
    left: 35%;
    height: 30px;
    border-left: 1px solid #cccccc;
    padding: 5px 0 0 8px;
}
.school{
    position: absolute;
    width: 210px;
    top: 400px;
    height: 30px;
    border-left: 1px solid #cccccc;
    padding: 5px 0 0 8px;
}
.graduate{
    position: absolute;
    width: 210px;
    top: 400px;
    left: 35%;
    height: 30px;
    border-left: 1px solid #cccccc;
    padding: 5px 0 0 8px;
}
.education{
    position: absolute;
    width: 210px;
    top: 500px;
    height: 30px;
    border-left: 1px solid #cccccc;
    padding: 5px 0 0 8px;
}