body {
    margin: 0;
    padding: 0;
    background-color: #f2f5fa;
    font-family: "Microsoft YaHei";
}

ul, li {
    margin: 0;
    padding: 0;
}

.top-nav { /*顶部导航*/
    width: 100%;
    height: 40px;
    margin-left: -10px;
    background-color: #ffffff;
}

.nav {
    width: 100%;
    background-color: #ffffff;
}

.nav-pills {
    width: 100%;
}

.container { /*中间内容*/
    width: 80%;
    height: 600px;
    margin: 30px auto;
}

.left { /*左侧部分*/
    position: absolute;
    left: 10%;
    width: 15%;
}

.personal { /*个人中心*/
    width: 100%;
    height: 220px;
    padding: 10px;
    background-color: #f7fbfe;
    font-family: "Microsoft YaHei";
    border-bottom: 1px dashed #cccccc;
    /*border:1px solid #5cb85c;*/
}

.personal .title {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 5px 0 0 10px;
}

.personal .photo img { /*头像*/
    width: 40%;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #cccccc;
    margin: 10px 0 0 10px;

}

.personal .photo span {
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
}

.personal .credits {
    font-size: 13px;
    font-weight: 500;
    margin: 15px 0 0 10px;
}

.nav-stacked {
    background-color: #f7fbfe;
    color: #333333;
}

.left-nav .nav-stacked li:hover {
    background-color: #ffffff;
}

.left-nav .nav-stacked li {
    background-color: #f7fbfe;
}

.left-nav .nav-stacked li a {
    color: #555;
    font-size: 15px;
}

.left-nav .nav-stacked li a:hover {
    background-color: #ffffff;
}

.right { /*右侧内容显示区*/
    position: absolute;
    left: 25%;
    width: 65%;
    height: 100%;
    background-color: #f7fbfe;
}

.right .tab-menu { /*选择选项*/
    font-weight: 600;
    font-size: 17px;
    color: #555;
    font-family: "Microsoft JhengHei Light";
    background-color: #ffffff;
    padding: 20px 0 0 25px;

}

.tab-nav { /*选项卡*/
    width: 100%;
    padding: 20px 0 0 25px;
    padding-right: 25px;
    background-color: #ffffff;

}

.right-container { /*右下显示内容*/
    background-color: #ffffff;
    padding: 25px;
}